/* ========================================
   LAYOUT & SIDEBAR
   ======================================== */

body {
    overflow-x: hidden !important;
}

.container {
    min-width: 100%;
    padding: 0 10px 0 20px;
}

li.hidden-index-link>a {
    display: none !important;
}

li.hidden-sidebar-item {
    display: none !important;
}

li.hidden-sidebar-item .menu__list-item-collapsible {
    display: none !important;
}

aside[class*="docSidebarContainer"] .menu__list>li:first-child>a,
aside[class*="docSidebarContainer"] .menu__list>li:first-child>.menu__link,
aside[class*="docSidebarContainer"] .menu__list>li:first-child>.menu__list-item-collapsible>a {
    display: none !important;
}

aside[class*="docSidebarContainer"] .menu__list>li:first-child>ul {
    display: block !important;
}

body.uxo-product-homepage aside[class*="docSidebarContainer"] {
    display: none !important;
}

body.uxo-product-homepage div:has(aside[class*="docSidebarContainer"])>div>main {
    max-width: 100% !important;
    padding-left: 7rem;
}


/* Sidebar sticky */
.theme-doc-sidebar-container {
    position: sticky !important;
    top: calc(var(--ifm-navbar-height) + 1rem) !important;
    max-height: calc(100vh - var(--ifm-navbar-height) - 2rem) !important;
    overflow-y: auto !important;
}

aside[class*="docSidebarContainer"] {
    position: sticky !important;
    top: calc(var(--ifm-navbar-height)) !important;
    max-height: calc(100vh - var(--ifm-navbar-height)) !important;
}

/* Table of contents sticky */
.theme-doc-toc-desktop {
    position: sticky !important;
    top: calc(var(--ifm-navbar-height) + 50px + 1rem) !important;
    max-height: calc(100vh - var(--ifm-navbar-height) - 50px - 2rem) !important;
    align-self: flex-start !important;
}

.theme-doc-toc-desktop .table-of-contents {
    overflow-y: auto !important;
    max-height: 100% !important;
}