---
title: Vérification
---

Une fois que le serveur commence à démarrer, vous pouvez vérifier l'URL
 pour voir la phase de
démarrage en action (veuillez remplacer "renditionServerHost" par votre
nom d'hôte *effectif* sur lequel le serveur de rendition est en cours d'exécution).

```xml
<!-- Commentaire nettoyé -->
```

Tous les services doivent être visibles, démarrés et fonctionnels.

Il se peut que tous les services n'apparaissent pas lorsque la rendition n'a pas
encore complètement démarrée, dans ce cas il faut patienter quelques minutes.

Si certains services ou fonctionnalités sont incomplets ou non démarrés,
merci de bien vouloir vérifier [les prérequis de la rendition](/fr/installation/standalone/rendition/requirements.md).
